body {
	background-color: rgba(42, 42, 46, 0.9);
}

.container {
	max-width: 400px;
}

input[type="text"] {
	color: rgba(255, 255, 210, 0.9);
	border: none;
	max-width: 400px;
	background-color: rgba(42, 42, 46, 0.5);
	transition: all 0.5s ease;
}

input[type="text"]:focus,
input[type="text"]:hover {
	color: rgba(255, 255, 210, 0.9);
	background-color: rgba(42, 42, 46, 0.9);
}

.todos__todo {
	color: rgba(255, 255, 210, 0.9);
	background-color: rgba(42, 42, 46, 0.5);
}

.delete {
	cursor: pointer;
}
